.carousel-inner .carousel-item img {
    width: 250px;
    height: 350px;
    object-fit: cover;
}

.btn-exit:hover {
    background-color: #D0DDD7;
    border-color:#D0DDD7; 
}

body {
    font-family: 'Oswald', sans-serif;
}

.footer {
    position: fixed;  /* Keeps the footer at the bottom of the screen */
    bottom: 0;        /* Aligns it to the bottom */
    width: 100%;      /* Ensures the footer spans the full width */
    left: 0;          /* Aligns it to the left edge of the screen */
  }
